{
    "primary": "ARS",
    "secondary": "USD",
    "exchange_rate": 1000,
    "exchange_rate_source": "manual",
    "api_enabled": false,
    "manual_override": false,
    "api_blue_rate": 0,
    "api_oficial_rate": 0,
    "api_url": "https://api.bluelytics.com.ar/v2/latest",
    "last_update": null
}